<div class="app-content content" ng-controller="allInfoCtrl">

    <section class="app-user-edit">
        <div class="card" style="text-align: right ; padding: 10px">
            <div class="form-group">

                <div class="form-label">نوع الكفيل</div>
                <div class="custom-controls-stacked">
                    <label for="first" class="custom-control custom-radio custom-control-inline">
                        <input id="first" ng-click="option='personal'" type="radio" class="custom-control-input"
                               name="sponserType" value="0">
                        <span class="custom-control-label">شخصى</span>
                    </label>
                    <label for="organize" class="custom-control custom-radio custom-control-inline">
                        <input id="organize" ng-click="option='organize'" ng-init="option='organize'" type="radio"
                               class="custom-control-input" name="sponserType" value="1" checked>
                        <span class="custom-control-label">مؤسسة</span>
                    </label>

                </div>
            </div>
        </div>
        <!-- Account Tab starts -->

        <!-- personal -->
        <!-- personal -->
        <div ng-controller="PersonalCtrl" ng-show="option ==='personal'" id="personal"
             style="text-align: right ; padding: 10px">
            <form class="card" novalidate>
                <div class="card-body">
                    <h3 class="card-title" style="text-align:right">بيانات الكفيل</h3>

                    <div class="form-label">بطاقة التعريف</div>
                    <div class="custom-controls-stacked" style="text-align:right">
                        <label class="custom-control custom-radio custom-control-inline">
                            <input type="radio" ng-model="personal.identification_number_type"
                                   class="custom-control-input" name="identification_number_type"  value="هوية" checked>
                            <span class="custom-control-label">هوية</span>
                        </label>
                        <label class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input"
                                   ng-model="personal.identification_number_type" name="identification_number_type"
                                   value="جواز سفر" >
                            <span class="custom-control-label">جواز سفر</span>
                        </label>

                    </div>


                    <div class="col-md-5 " style="text-align:right">
                        <div class="form-group">
                            <label class="form-label" dir="rtl">رقم بطاقة التعريف</label>
                            <input type="number" ng-model="personal.identification_number" min="1"
                                   class="form-control" placeholder="الاسم" value="أحمد العفيفي">

                        </div>
                    </div>
                    <div class="row" style="text-align:right">

                        <div class="col-sm-3 col-md-3">
                            <div class="form-group">
                                <label class="form-label">الاسم الاول</label>
                                <input type="text" ng-model="personal.first_name" class="form-control"
                                       placeholder="Company" value="Chet">
                            </div>
                        </div>

                        <div class="col-sm-2 col-md-2">
                            <div class="form-group">
                                <label class="form-label">اسم الاب</label>
                                <input type="text" ng-model="personal.sec_name" class="form-control"
                                       placeholder="Last Name" value="Faker">
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <div class="form-group">
                                <label class="form-label">اسم الجد</label>
                                <input type="text" ng-model="personal.third_name" class="form-control"
                                       placeholder="Company" value="Chet">
                            </div>
                        </div>

                        <div class="col-sm-3 col-md-3">
                            <div class="form-group">
                                <label class="form-label">الاسم الاخير</label>
                                <input type="text" ng-model="personal.last_name" class="form-control"
                                       placeholder="Last Name" value="Faker">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">المحافظة</label>

                                <select name="example-select2" ng-model="personal.governorate_id"
                                        class="control custom-select">
                                    <option ng-repeat="governorate in governorates" value="{{governorate.id}}">
                                        {{governorate.name}}
                                    </option>

                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">المدينة</label>

                                <select name="example-select2" ng-model="personal.city_id"
                                        class="control custom-select">

                                    <option ng-repeat="city in cities" value="{{city.id}}">{{city.name}}</option>


                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">الحى</label>

                                <select name="example-select2" ng-model="personal.neighborhood_id"
                                        class="control custom-select">
                                    <option ng-repeat="neighborhood in neighborhoods" value="{{neighborhood.id}}">
                                        {{neighborhood.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-form-group">
                                <label class="form-label">تفاصيل العنوان</label>
                                <input type="text" class="form-control" ng-model="personal.details"
                                       placeholder="City" value="Melbourne">

                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="form-label">الهاتف</label>
                                <input type="text" class="form-control" ng-model="personal.telephone"
                                       placeholder="City" value="Melbourne">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label class="form-label">الجوال</label>
                                <input type="number" class="form-control" ng-model="personal.phone_number"
                                       placeholder="0592222222">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="form-label">البريد</label>
                                <input type="text" class="form-control" ng-model="personal.email"
                                       placeholder="xxxx@gmail.com">

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">الجنسية</label>

                                <select name="example-select2" ng-model="personal.nationality_id"
                                        class="form-control custom-select">

                                    <option ng-repeat="nationalitie in nationalities" value="{{nationalitie.id}}">
                                        {{nationalitie.name}}
                                    </option>


                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">دولة الاقامة</label>

                                <select name="example-select2" ng-model="personal.country_id"
                                        class="control custom-select">

                                    <option ng-repeat="county in countries" value="{{county.id}}">{{county.name}}
                                    </option>

                                </select>
                            </div>
                        </div>

                    </div>


                    <div class="card-footer text-right">
                        <button type="submit" ng-click="CreateNewPersonalSponsor()" class="btn btn-primary">انشاء
                            حساب
                            جديد
                        </button>
                    </div>
                </div>
            </form>
        </div> <!-- Account Tab ends -->

        <!-- Account Tab starts -->
        <!-- organize -->

        <!-- organize -->
        <div ng-controller="EnterpriseCtrl" ng-show="option ==='organize'">


            <form class="card" novalidate>
                <div class="card-body">


                    <h3 class="card-title" style="text-align:right">بيانات الكفيل</h3>


                    <div class="form-group col-md-4" style="text-align:right">
                        <label class="form-label">دولة الاقامة</label>


                        <select name="example-select2" class="control custom-select" ng-model="organize.country_id">

                            <option ng-repeat="city in cities" value="{{city.id}}">{{city.name}}</option>

                        </select>

                    </div>

                    <div class="row" style="text-align:right">

                        <div class="col-md-12 " dir="rtl">
                            <div class="form-group">
                                <label class="form-label" dir="rtl">الاسم</label>
                                <input type="text" ng-model="organize.name" class="form-control" placeholder="الاسم"
                                       value="أحمد العفيفي">

                            </div>
                        </div>

                        <div class="col-md-12" dir="rtl">
                            <div class="form-group">
                                <label class="form-label" dir="rtl">مسؤول الاتصال</label>
                                <input type="text" ng-model="organize.contact_person" class="form-control"
                                       placeholder="الاسم" value="أحمد العفيفي">

                            </div>
                        </div>
                        <div class="col-md-12" dir="rtl">
                            <div class="form-group">
                                <label class="form-label" dir="rtl">العنوان</label>
                                <input type="text" ng-model="organize.address" class="form-control"
                                       placeholder="الاسم" value="أحمد العفيفي">

                            </div>
                        </div>

                        <div class="col-md-4" dir="rtl">
                            <div class="form-group">
                                <label class="form-label" dir="rtl">الهاتف1</label>
                                <input type="number" ng-model="organize.first_telephone" class="form-control"
                                       placeholder="الاسم" value="أحمد العفيفي">

                            </div>
                        </div>
                        <div class="col-md-4" dir="rtl">
                            <div class="form-group">
                                <label class="form-label" dir="rtl">الهاتف2</label>
                                <input type="number" ng-model="organize.sec_telephone" class="form-control"
                                       placeholder="الاسم" value="أحمد العفيفي">

                            </div>
                        </div>


                        <div class="col-md-12" dir="rtl">
                            <div class="form-group">
                                <label class="form-label" dir="rtl">البريد</label>
                                <input type="text" ng-model="organize.email" class="form-control"
                                       placeholder="الاسم" value="أحمد العفيفي">

                            </div>


                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button type="submit" ng-click="myOrgFunc()" class="btn btn-primary">Update Profile</button>
                    </div>
                </div>

            </form>
        </div> <!-- Account Tab ends -->


    </section>

</div>


