<!-- BEGIN: Content-->
<div class="app-content content" ng-controller="updatePersonalSponsorCtrl">

    <section class="app-user-edit">
        <div class="card">


            <section id="multiple-column-form">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Personal Sponsor info</h4>
                            </div>


                            <div class="card-body">
                                <form class="form">
                                    <div class="row">
                                        <div class="col-md-8 col-12">
                                            <div class="demo-inline-spacing">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="identity" name="customRadio"
                                                           class="custom-control-input"
                                                           ng-model="raw.identification_number_type"
                                                           value="identity"
                                                           ng-checked="raw.identification_number_type==='identity'">
                                                    <label class="custom-control-label" for="identity">identity</label>
                                                </div>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="passport" name="customRadio"
                                                           ng-model="raw.identification_number_type"
                                                           class="custom-control-input" value="passport"
                                                           ng-checked="raw.identification_number_type==='passport'">
                                                    <label class="custom-control-label" for="passport">passport</label>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="first-name-column">identity number</label>
                                                <input type="text" id="identity_id-column" class="form-control"
                                                       placeholder="identity number"
                                                       ng-value="raw.identification_number"
                                                       ng-model="raw.identity_number"
                                                       name="identification_number">
                                            </div>
                                        </div>


                                        <div class="col-md-3 col-12">
                                            <div class="form-group">
                                                <label for="first-name-column">First Name</label>
                                                <input type="text" id="first-name-column"
                                                       ng-model="raw.first_name" ng-value="raw.first_name"
                                                       class="form-control" name="first_name">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-12">
                                            <div class="form-group">
                                                <label for="last-name-column">sec Name</label>
                                                <input type="text" id="sec-name-column"
                                                       ng-model="raw.sec_name" ng-value="raw.sec_name"
                                                       class="form-control" placeholder="sec Name" name="lname-column">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-12">
                                            <div class="form-group">
                                                <label for="last-name-column">third Name</label>
                                                <input type="text" id="third-name-column"
                                                       ng-model="raw.third_name" ng-value="raw.third_name"
                                                       class="form-control" placeholder="third Name"
                                                       name="lname-column">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-12">
                                            <div class="form-group">
                                                <label for="last-name-column">Last Name</label>
                                                <input type="text" ng-model="raw.last_name"
                                                       id="last-name-column" ng-value="raw.last_name"
                                                       class="form-control" placeholder="Last Name" name="lname-column">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group" data-select2-id="5">
                                                <label for="select-Governorate">Governorate</label>
                                                <div class="position-relative" data-select2-id="4">
                                                    <select ng-model="raw.governorate"
                                                            class="form-control select2 select2-hidden-accessible"
                                                            id="select-Governorate" name="select-country"
                                                            data-select2-id="select-country" tabindex="-1"
                                                            aria-hidden="true">
                                                        <option ng-repeat="governorate in governorates"
                                                                ng-selected="governorate.id===raw.governorate_id"
                                                                value="{{governorate.id}}" data-select2-id="2">
                                                            {{governorate.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group" data-select2-id="5">
                                                <label for="select-City">City</label>
                                                <div class="position-relative" data-select2-id="4">
                                                    <select ng-model="raw.city"
                                                            class="form-control select2 select2-hidden-accessible"
                                                            id="select-city" name="select-city"
                                                            data-select2-id="select-country" tabindex="-1"
                                                            aria-hidden="true">

                                                        <option ng-repeat="city in cities" value="{{city.id}}"
                                                                ng-selected="city.id===raw.city_id">{{city.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group" data-select2-id="5">
                                                <label for="select-Neighborhood">Neighborhood</label>
                                                <div class="position-relative" data-select2-id="4">
                                                    <select ng-model="raw.neighborhood"
                                                            class="form-control select2 select2-hidden-accessible"
                                                            id="select-Neighborhood" name="select-Neighborhood"
                                                            data-select2-id="select-country" tabindex="-1"
                                                            aria-hidden="true">

                                                        <option ng-repeat="neighborhood in neighborhoods"
                                                                ng-selected="neighborhood.id===raw.neighborhood_id"
                                                                value="{{neighborhood.id}}">
                                                            {{neighborhood.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="form-group">
                                                <label for="country-floating">location details</label>
                                                <input type="text" ng-model="raw.location_details"
                                                       id="country-floating" class="form-control" ng-value="raw.details"
                                                       name="location_details" placeholder="location details">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="first-name-column">Telephone</label>
                                                <input type="text" ng-model="raw.telephone" id="telephone"
                                                       ng-value="raw.telephone" class="form-control"
                                                       placeholder="telephone" name="telephone-column">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="last-name-column">Phone</label>
                                                <input type="text" ng-model="raw.phone"
                                                       ng-value="raw.phone_number" id="phone-column"
                                                       class="form-control" placeholder="Phone" name="phone-column">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="email-id-column">Email</label>
                                                <input type="email" id="email-id-column" value="{{raw.email}}"
                                                       ng-value="raw.email"

                                                       ng-model="raw.email" class="form-control"
                                                       placeholder="Email" name="email-id-column">
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-12">
                                            <div class="form-group" data-select2-id="5">
                                                <label for="select-Nationality">Nationality</label>
                                                <div class="position-relative" data-select2-id="4">
                                                    <select ng-model="raw.nationality"
                                                            class="form-control select2 select2-hidden-accessible"
                                                            id="select-Nationality" name="select-Nationality"
                                                            data-select2-id="select-Nationality" tabindex="-1"
                                                            aria-hidden="true">
                                                        <option ng-repeat="nationality in nationalities"
                                                                ng-selected="nationality.id===raw.nationality_id"
                                                                data-select2-id="2" value="{{nationality.id}}">
                                                            {{nationality.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group" data-select2-id="5">
                                                <label for="select-Country">Country</label>
                                                <div class="position-relative" data-select2-id="4">

                                                    <select ng-model="raw.country"
                                                            class="form-control select2 select2-hidden-accessible"
                                                            id="select-country" name="select-country"
                                                            data-select2-id="select-country" tabindex="-1"
                                                            aria-hidden="true">
                                                        <option ng-repeat="country in countries" value="{{country.id}}"
                                                                ng-selected="country.id===raw.country_id"
                                                                data-select2-id="2">{{country.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group" data-select2-id="5">
                                                <label for="select-Neighborhood"></label>
                                                <div class="position-relative" data-select2-id="4">

                                                    <div class="form-modal-ex">
                                                        <!-- Button trigger modal -->
                                                        <!-- Button trigger modal -->
                                                        <button type="button" class="btn btn-primary"
                                                                data-toggle="modal" data-target="#exampleModal">
                                                            Launch demo modal
                                                        </button>

                                                        <!-- Modal -->
                                                        <div class="modal fade" id="exampleModal" tabindex="-1"
                                                             role="dialog" aria-labelledby="exampleModalLabel"
                                                             aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                                            Modal title</h5>
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        ...
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-dismiss="modal">Close
                                                                        </button>
                                                                        <button type="button" class="btn btn-primary">
                                                                            Save changes
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>


                                        </div>

                                        <div class="col-12">
                                            <button type="reset" ng-click="updatePersonalSponsor()"
                                                    class="btn btn-primary mr-1 waves-effect waves-float waves-light">
                                                Update
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>
        <!-- Account Tab starts -->
    </section>

    <section id="Guaranteed ">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Guaranteed info</h4>
                    </div>
                    <div class="card-body">
                        <form class="form">
                            <div class="row">

                                <div class="col-md-3 col-12">
                                    <div class="demo-inline-spacing">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="monthly" name="warranty_type"
                                                   class="custom-control-input"
                                                   ng-model="PFilterData.warranty_type"
                                                   value="monthly"
                                                   checked ng-checked="monthly">
                                            <label class="custom-control-label" for="monthly">monthly</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="yearly" name="warranty_type"
                                                   ng-model="PFilterData.warranty_type"
                                                   class="custom-control-input" value="yearly">
                                            <label class="custom-control-label" for="yearly">yearly</label>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-md-4 col-12">
                                    <div class="form-group" data-select2-id="5">
                                        <div class="position-relative" data-select2-id="4">
                                            <select ng-model="PFilterData.guaranteed_id"
                                                    class="form-control select2 select2-hidden-accessible"
                                                    id="select-Governoratew" name="select-country"
                                                    data-select2-id="select-country" tabindex="-1"
                                                    aria-hidden="true">
                                                <option value="">all</option>
                                                <option ng-repeat="guaranteed in guaranteeds"
                                                        value="{{guaranteed.id}}" data-select2-id="2">
                                                    {{guaranteed.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-12">
                                    <div class="form-group" data-select2-id="5">
                                        <button ng-click="getPFilterdGuaranteed()"
                                                class="btn btn-primary mr-1 waves-effect waves-float waves-light">
                                            search
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-success" data-toggle="modal"
                                            data-target="#exampleModal2">
                                        Add
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel2">Add new
                                                        Guaranteed </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h4>Add new Guaranteed</h4>
                                                    <br>
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="name">Name</label>
                                                            <input type="text" class="form-control"
                                                                   id="name" ng-model="createGuaranteed.name"
                                                                   aria-describedby="emailHelp"
                                                                   placeholder="Enter Name">
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="name">Warranty Type</label>
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio"
                                                                       ng-model="createGuaranteed.warranty_type"
                                                                       id="customRadio1" value="monthly"
                                                                       name="warranty_type"
                                                                       class="custom-control-input" checked>
                                                                <label class="custom-control-label" for="customRadio1">monthly</label>
                                                            </div>
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio"
                                                                       ng-model="createGuaranteed.warranty_type"
                                                                       id="customRadio2" value="yearly"
                                                                       name="warranty_type"
                                                                       class="custom-control-input">
                                                                <label class="custom-control-label" for="customRadio2">yearly</label>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="name">Money</label>
                                                            <input type="number" ng-model="createGuaranteed.money"
                                                                   class="form-control"
                                                                   id="money" aria-describedby="emailHelp" min="1"
                                                                   max="500000"
                                                                   placeholder="Enter money">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="name">Currency</label>
                                                            <select ng-model="createGuaranteed.currency_id"
                                                                    class="custom-select custom-select-mb3">
                                                                <option ng-repeat="currency in currencies"
                                                                        value="{{currency.id}}">{{currency.name}}
                                                                </option>
                                                            </select>
                                                        </div>


                                                    </form>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="button" class="btn btn-primary"
                                                            ng-click="AddGuaranteed()">Save changes
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" id="table-responsive">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">Responsive tables</h4>
                                            </div>
                                            <div class="card-body">

                                            </div>
                                            <div class="table-responsive">
                                                <table class="table mb-0">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col" class="text-nowrap">#</th>
                                                        <th scope="col" class="text-nowrap">Name</th>
                                                        <th scope="col" class="text-nowrap">Type</th>
                                                        <th scope="col" class="text-nowrap">Add date</th>
                                                        <th scope="col" class="text-nowrap">Operation</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="guaranteed in PFilterGuaranteed">
                                                        <td>{{guaranteed.id}}</td>
                                                        <td>{{guaranteed.name}}</td>
                                                        <td>{{guaranteed.warranty_type}}</td>
                                                        <td>{{guaranteed.add_data}}</td>
                                                        <td>
                                                            <a class="btn btn-primary btn-sm ">Edit</a>
                                                            <a class="btn btn-danger btn-sm "
                                                               ng-click="deleteGuaranteed(guaranteed.id)">Delete</a>

                                                        </td>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>

</div>
<!-- END: Content-->


<!-- BEGIN: Page JS-->
<!-- END: Page JS-->

