<!-- BEGIN: Content-->
<div class="app-content content" ng-controller="allInfoCtrl">

    <section class="app-user-edit">
        <div class="card" style="text-align: right ; padding: 10px">
            <div class="form-group">
                <h2>البحث عن الكفلاء</h2>

                <div class="form-label">نوع الكفيل</div>
                <div class="custom-controls-stacked">
                    <label for="first" class="custom-control custom-radio custom-control-inline">
                        <input id="first" ng-click="option='personal'" type="radio"
                               class="custom-control-input" name="sponserType" value="0">
                        <span class="custom-control-label">شخصى</span>
                    </label>
                    <label for="organize" class="custom-control custom-radio custom-control-inline">
                        <input id="organize" ng-click="option='organize'" ng-init="option='organize'" type="radio"
                               class="custom-control-input"
                               name="sponserType" value="1" checked>
                        <span class="custom-control-label">مؤسسة</span>
                    </label>

                </div>
            </div>
        </div>
        <!-- Account Tab starts -->

        <!-- personal -->
        <!-- personal -->
        <div ng-controller="PersonalFilterCtrl" ng-show="option ==='personal'" id="personal"
        >
            <form class="card" novalidate>
                <div class="card-body">
                    <div class="col-md-12 col-md-12" style="text-align:right">
                        <div class="form-group">
                            <label class="form-label" dir="rtl">الاسم</label>
                            <input type="text" ng-model="searchPersonal.name" class="form-control" placeholder="الاسم"
                                   value="أحمد العفيفي">

                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 col-md-5">
                            <div class="form-group">
                                <label class="form-label">المحافظة</label>

                                <select name="example-select2" ng-model="searchPersonal.neighborhood_id"
                                        class="control custom-select">

                                    <option ng-repeat="neighborhood in neighborhoods" value="{{neighborhood.id}}">
                                        {{neighborhood.name}}
                                    </option>

                                </select>
                            </div>
                        </div>

                        <div class="col-md-4 col-md-5">
                            <div class="form-group">
                                <label class="form-label">المدينة</label>
                                <select name="example-select2" ng-model="searchPersonal.city_id"
                                        class="control custom-select">
                                    <option ng-repeat="city in cities " value="{{city.id}}">{{city.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4 col-md-5">
                            <div class="form-group">
                                <label class="form-label">الجنسية</label>


                                <select name="example-select2" ng-model="searchPersonal.nationality_id"
                                        class="form-control custom-select">

                                    <option ng-repeat="nationality in nationalities" value="{{nationality.id}}">
                                        {{nationality.name}}
                                    </option>


                                </select>
                            </div>
                        </div>

                        <div class="col-md-4 col-md-5">
                            <div class="form-group">
                                <label class="form-label">الدولة</label>

                                <select name="example-select2" ng-model="searchPersonal.country_id"
                                        class="control custom-select">
                                    <option ng-repeat="country in countries " value="{{country.id}}">{{country.name}}
                                    </option>
                                </select>
                            </div>
                        </div>


                        <div class="col-md-4 col-md-4">
                            <label class="form-label" dir="rtl">رقم بطاقة تعريف الهوية</label>
                            <input type="number" ng_modle="searchPersonal.identification_number" class="form-control"
                                   placeholder="الاسم" value="أحمد العفيفي">

                        </div>

                    </div>
                    <br>
                    <div class="col-md-4 col-md-4">
                        <button type="button" ng-click="search_personal_btn()" class="btn btn-primary">Primary</button>
                    </div>
                    <br>

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Invoices</h3>
                        </div>
                        <div class="table-responsive">
                            <table class="table ">
                                <thead>
                                <tr>
                                    <th class="w-1">No.</th>
                                    <th>الاسم</th>
                                    <th>رقم الهاتف</th>
                                    <th>الدولة</th>
                                    <th>العنوان</th>
                                    <th>عدد المستفيدين</th>
                                    <th>العمليات</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr ng-repeat="PersonalData in searchPersonalData">
                                    <td value="{{PersonalData.id}}">{{PersonalData.id}}</td>
                                    <td>{{PersonalData.first_name}} , {{PersonalData.sec_name}} ,
                                        {{PersonalData.third_name}} ,{{PersonalData.last_name}}
                                    </td>
                                    <td>{{PersonalData.phone_number}}</td>
                                    <td>{{PersonalData.country.name}}</td>
                                    <td>{{PersonalData.details}}</td>
                                    <td>1222</td>


                                    <td class="text-right ">
                                        <a class="btn btn-secondary btn-sm " ui-sref="managementPersonalSponsor({id:PersonalData.id})">ادارة
                                        </a>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary btn-sm " data-toggle="dropdown">send sms
                                            </button>
                                        </div>

                                    </td>

                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </form>
        </div>        <!-- Account Tab ends -->

        <!-- Account Tab starts -->
        <!-- organize -->

        <!-- organize -->
        <div ng-controller="OrganizeFilterCtrl" ng-show="option ==='organize'">


            <form class="card" novalidate>
                <div class="card-body">

                    <!-- organize -->
                    <div id="organize3" ng-controller="OrganizeFilterCtrl" ng-show="option ==='organize'">
                        <div class="col-md-12 " style="text-align:right">
                            <div class="form-group">
                                <label class="form-label" dir="rtl">الاسم</label>
                                <input type="text" ng-model="searchOrganize.name" class="form-control"
                                       placeholder="الاسم" value="أحمد العفيفي">

                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-4 col-md-5">
                                <div class="form-group">
                                    <label class="form-label">المحافظة</label>

                                    <select name="example-select2" ng-model="searchOrganize.neighborhood_id"
                                            class="control custom-select">
                                        <option ng-repeat="neighborhood in neighborhoods" value="{{neighborhood.id}}">
                                            {{neighborhood.name}}
                                        </option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4 col-md-5">
                                <div class="form-group">
                                    <label class="form-label">المدينة</label>

                                    <select name="example-select2" ng-model="searchOrganize.city_id"
                                            class="control custom-select">
                                        <option ng-repeat="city in cities" value="{{city.id}}">{{city.name}}</option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4 col-md-5">
                                <div class="form-group">
                                    <label class="form-label">الجنسية</label>

                                    <select name="example-select2" ng-model="searchOrganize.nationality_id"
                                            class="control custom-select">
                                        <option ng-repeat="nationality in nationalities" value="{{nationality.id}}">
                                            {{nationality.name}}
                                        </option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4 col-md-5">
                                <div class="form-group">
                                    <label class="form-label">الدولة</label>

                                    <select name="example-select2" ng-model="searchOrganize.country_id"
                                            class="control custom-select">
                                        <option ng-repeat="country in countries" value="{{country.id}}">
                                            {{country.name}}
                                        </option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-md-10 col-md-4">
                                <label class="form-label" dir="rtl">الاسم</label>
                                <input type="text" ng-model="searchOrganize.name" class="form-control"
                                       placeholder="الاسم" value="أحمد العفيفي">

                            </div>

                            <div class="col-md-4 col-md-4">
                                <label class="form-label" dir="rtl">رقم بطاقة تعريف الهوية</label>
                                <input type="number" class="form-control" placeholder="الاسم" value="أحمد العفيفي">

                            </div>

                        </div>
                        <br>
                        <div class="col-md-4 col-md-4">
                            <button type="button" class="btn btn-primary" ng-click="search_enterprise_btn()">Search
                            </button>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Invoices</h3>
                            </div>
                            <div class="table-responsive">
                                <table class="table card-table table-vcenter text-nowrap">
                                    <thead>
                                    <tr>
                                        <th class="w-1">No.</th>
                                        <th>الاسم</th>
                                        <th>contact_person</th>
                                        <th>العنوان</th>
                                        <th>الدولة</th>
                                        <th>عدد المستفيدين</th>
                                        <th>العمليات</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="organizeData in searchOrganizeData">
                                        <td value="{{organizeData.id}}"><span
                                            class="text-muted">{{organizeData.id}}</span></td>
                                        <td>{{organizeData.name}}</td>
                                        <td>
                                            {{organizeData.contact_person}}
                                        </td>
                                        <td>
                                            {{organizeData.address}}
                                        </td>
                                        <td>
                                            {{organizeData.country.name}}
                                        </td>
                                        <td>
                                            111
                                        </td>
                                        <td class="text-right">
                                            <a class="btn btn-secondary btn-sm " ui-sref="managementEnterpriseSponsor({id:organizeData.id})">ادارة
                                            </a>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary btn-sm "
                                                >Actions
                                                </button>
                                            </div>
                                        </td>
                                        <td>
                                            <a class="icon" href="javascript:void(0)">
                                                <i class="fe fe-edit"></i>
                                            </a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>


            </form>
        </div>        <!-- Account Tab ends -->


    </section>

</div>
<!-- END: Content-->

<script>
    $(window).on('load', function () {
        if (feather) {
            feather.replace({
                width: 14,
                height: 14
            });
        }
    })
</script>
