<div class="app-content content" ng-controller="searchPaymentController">


    <div class="card">
        <div class="card-header border-bottom">
            <h4 class="card-title">Search personal Sponsor Payment</h4>
        </div>
        <!--Search Form -->
        <div class="card-body mt-2">
            <form class="dt_adv_search" method="POST">
                <div class="row">
                    <div class="col-12">
                        <div class="form-row mb-1">
                            <div class="col-lg-6">
                                <label>payment Number</label>
                                <input type="number" ng-model="payments.id" class="form-control dt-input dt-full-name"
                                       data-column="1"
                                       placeholder="Id" data-column-index="0">
                            </div>
                            <div class="col-lg-6">
                                <label>bill Number</label>
                                <input type="number" ng-model="payments.bill_id" class="form-control dt-input"
                                       data-column="2"
                                       placeholder="Id" data-column-index="1">
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="basicSelect">Sponsor</label>
                                    <select class="form-control" ng-model="payments.personal_sponsor_id"
                                            id="basicSelect">
                                        <option value="">without</option>
                                        <option ng-repeat="sponsor in sponsors" value="{{sponsor.id}}">
                                            {{sponsor.first_name}} {{sponsor.last_name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="basicSelect">Guaranteed</label>
                                    <select ng-model="payments.guaranteed_id" class="form-control" id="basicSelecta">
                                        <option>without</option>
                                        <option ng-repeat="guaranteed in guaranteeds" value="{{guaranteed.id}}">
                                            {{guaranteed.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <label>from</label>
                                <input type="date" ng-model="payments.start" class="form-control dt-input dt-full-name"
                                       data-column="1"
                                       placeholder="start Date" data-column-index="0">
                            </div>
                            <div class="col-lg-6">
                                <label>to</label>
                                <input type="date" ng-model="payments.end" class="form-control dt-input" data-column="2"
                                       placeholder="end Date" data-column-index="1">
                            </div>
                        </div>
                    </div>

                </div>
                <button class="btn btn-primary" style="text-align:center" ng-click="searchPayment()">Search</button>

            </form>

        </div>

    </div>


    <div class="card">
        <div class="card-header border-bottom">
            <h4 class="card-title">Results</h4>
        </div>
        <!--Search Form -->
        <div class="card-body mt-2">
            <form class="dt_adv_search" method="POST">
                <div class="row">
                    <div class="col-12">

                        <div class="form-row mb-1">

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="basicSelect">Guaranteed</label>
                                    <select class="form-control" id="basicSelecwt">
                                        <option ng-repeat="guaranteed in guaranteeds" value="{{guaranteed.id}}">
                                            {{guaranteed.name}}
                                        </option>
                                    </select>

                                </div>

                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">

                                    <br>
                                    <button class="btn btn-primary" id="btn" ng-click="searchPayment()">Search</button>
                                    <button class="btn btn-primary">Add</button>
                                    <a class="btn btn-success"  href="http://sponsorsmanagement.ps/api/export">download</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Number</th>
                        <th>bill Number</th>
                        <th>Sponsor</th>
                        <th>Date</th>
                        <th>Total Price</th>
                        <th>Currency</th>
                        <th>Guaranteed Number</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in raw">
                        <td>
                            <span class="font-weight-bold">{{data.id}}</span>
                        </td>
                        <td>{{data.bill_id}}</td>
                        <td>
                            {{data.personal_sponsor.first_name}} {{data.personal_sponsor.last_name}}
                        </td>
                        <td><span class="badge badge-pill badge-light-success mr-1">{{data.start}}</span></td>
                        <td>
                            {{data.guaranteeds_sum_money}}
                        </td>
                        <td>{{data.currency_id}}</td>
                        <td>{{data.guaranteeds_count}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
